{
  "accounts": {
    "personal": {
      "domain": "my.1password.com",
      "account_uuid": "FKX4T3TGPBHXFCFB637MA5C7EE",
      "email": "joelbcastillo@gmail.com",
      "default_vault": "Personal",
      "ssh_keys": [
        {
          "name": "SSH Key - Personal",
          "filename": "github",
          "vault": "Personal"
        },
        {
          "name": "TSC Kinsta SSH",
          "filename": "tsc_kinsta",
          "vault": "TSC"
        }
      ]
    },
    "work": {
      "domain": "your-company.1password.com",
      "account_uuid": "YOUR_WORK_ACCOUNT_UUID",
      "email": "you@your-company.com",
      "default_vault": "Work",
      "ssh_keys": [
        {
          "name": "Github SSH - Work",
          "filename": "github-work",
          "vault": "Work"
        },
        {
          "name": "AWS SSH - Work",
          "filename": "aws-work",
          "vault": "Work"
        }
      ]
    }
  },
  "active_accounts": ["personal", "work"],
  "default_account": "personal"
}
